*{
    box-sizing: border-box;
}


body{
    margin: 0;
    /* min-height: 100vh; */
    /* display: flex; */
    /* flex-direction: column; */

}

.wrapper{
    margin: 0;
    font-size: 16px;
    background: #dfdbdb;
    display: grid;
    -ms-grid-rows: 4rem auto fit-content(8rem);
    grid-template-rows: 4rem auto fit-content(8rem);
    grid-template-areas:
        "header"
        "main"
        "footer";
        min-height: 100vh;
        /* height: 100vh; */
}

.section{
    padding: 1rem;
}

.header{
    grid-area: header;
    /* height: 4rem; */
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: rgb(161, 153, 153);
    box-shadow: 0 0 0 3px rgba(33, 26, 26, 0.5);
    top: 0;
    left: 0;
    margin-top: 0;
    margin-bottom: 0;
    /* margin-bottom: 2rem; */
}

.logo img{
    vertical-align: middle;
    justify-content: center;
}

.header img{
    height: 3rem;
}

.header .section-description{
    color: #19192bd1;
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
    vertical-align: middle;
}

.main-content{
    grid-area: main;
    background-color: #fff;
    color: #fff;
    background-image: url(images/kikioro.jpg);
    background-size: contain;
    background-position: 50% center;
    /* background-repeat: no-repeat; */
    opacity: 0.7;
}

.main-content h1{
    color: black;
    background-color: white;
    font-size: 1.5rem;
    line-height: 1.1;
    font-weight: 400;
    text-transform: capitalize;
}

.main-content a{
    /* text-decoration: none; */
    color: white;
    background-color: #000;
    font-size: 1.5rem;
}

.footer{
    grid-area: footer;
    margin-top: auto;
    background-color: #000;
    color: #fff;
}

@media screen and (min-width: 48rem) and (max-width: 68.75rem) {

}