*{
    box-sizing: border-box;
}

body{
    position: relative;
    font-size: 14px;
    background: #dfdbdb;
    margin: 0;
    /* display: grid;
    grid-template-rows: 4rem auto fit-content(8rem);
    grid-template-areas:
        "header"
        "main"
        "footer"; */
    /* padding-top: 3.5rem; */
    height: 100vh;
}

.section{
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4.5rem;
}

.header{
    height: 4rem;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: rgb(161, 153, 153);
    box-shadow: 0 0 0 3px rgba(33, 26, 26, 0.5);
    top: 0;
    left: 0;
    margin-bottom: 2rem;
}

.logo img{
    vertical-align: middle;
    justify-content: center;
}

.header img{
    height: 3rem;
}

.header .section-description{
    color: #19192bd1;
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
    vertical-align: middle;
}

.main-content{
    grid-area: main;
}

.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: red;
}

@media screen and (min-width: 48rem) and (max-width: 68.75rem) {

}