body{
    font-size: 14px;
    background: #dfdbdb;
    margin: 0;
}

*{
    box-sizing: border-box;
}

.section{
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header{
    height: 4rem;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: rgb(161, 153, 153);
}

.logo img{
    vertical-align: middle;
}

.header img{
    height: 3rem;
}

.header .section-description{
    color: #19192bd1;
    text-transform: capitalize;
    font-size: 1.875rem;
    font-weight: 500;
    line-height: 1.2;
    vertical-align: middle;
}



@media screen and (min-width: 48rem) and (max-width: 68.75rem) {

}